.about img {
    max-width: 50%;
    display: block;
    margin: 20px auto;
    border: 2px solid white;
}

// .about {
//     // margin-top: 500px;
// }

.about--inner {
    margin: 0 90px;
    display:flex;
    background: $aboutSection;
    .about--left, .about--right {
        width: 50%;
    }
    .about--right {
        padding-right: 100px;
        justify-content: center;
        flex-direction: column;
        h3 {
            margin-top: 100px;
            font-family: $primaryFont;
            color: $fontColour;
        }
        p {
            margin-bottom: 100px;
            font-family: $secondaryFont;
            font-size: 14px;
            line-height: 2;
        }
        .about--wrapper {
            margin: 0 auto;
        }
    }
    .about--left {
        align-items: center;
    }
}