.about img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

// .about {
//     // margin-top: 500px;
// }

.about--inner {
    margin: 0 90px;
    display:flex;
    background: #f2f2f2;
    .about--left, .about--right {
        width: 50%;
    }
    .about--right {
        h3 {
            margin-top: 100px;
        }
        p {
            margin-bottom: 100px;
        }
    }
}