.contact {
    margin: 90px;
    // padding: 30px;
    background: #f2f2f2;
    display: flex;
    input, button, textarea {
        border: none;
        border-bottom: 2px solid #48F2D3;
        background: #262626;
        display: block;
        width: 100%;
        // margin: 10px auto;
        margin-bottom: 20px;
    }
    h3 {
        color: $fontColour;
        font-family: $primaryFont;
        font-size: 30px;
        letter-spacing: 1px;
    }
    .contact--left {
        width: 55%;
        margin: 0 auto;
        background: $aboutSection;
    }

    .contact__wrapper {
        margin: 0 auto;
        // justify-content: center;
    }

    .contact--right {
        width: 45%;
        background: $portfolioSection;
        justify-content: center;
        p {
            display: inline;
        }
    }
}

.social {
    justify-content: center;
    :not(:last-child) {
        margin-right:30px;
    }
}

.icon__wrapper {
    
    justify-content: center;
    align-items: center;
    i {
        font-size: 30px;
        color: white;
    }
    
}

.contact--left {
    button {
        background: #48F2D3;
        border: none;
        text-transform: uppercase;
        padding: 10px 40px;
    }
}