.contact {
    margin: 90px;
    position: relative;
    z-index: 0;
    background: #f2f2f2;
    display: flex;
    input, button, textarea {
        border: none;
        border-bottom: 2px solid $formColour;
        background: $aboutSection;
        display: block;
        width: 100%;
        margin-bottom: 20px;
        font-family: $secondaryFont;
    }
    input, textarea {
        border-top: 2px solid transparent;
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        padding-left: 4px;
    }
    
    input::placeholder, textarea::placeholder:focus {
          color: fontColour;
          font-family: $secondaryFont;
    }
    
    input:focus:placeholder-shown, textarea:focus:placeholder-shown {
        outline: none;
        border: 2px solid $formColour;
    }
    h3 {
        color: $fontColour;
        font-family: $primaryFont;
        font-size: 30px;
        letter-spacing: 1px;
        margin-top: 50px;
    }
    .contact--left {
        width: 55%;
        margin: 0 auto;
        background: $aboutSection;
    }

    .contact__wrapper {
        margin: 0 auto;
        // justify-content: center;
    }

    .contact--right {
        width: 45%;
        background: $portfolioSection;
        justify-content: center;
        p {
            display: inline;
            font-family: $secondaryFont;
        }
        h3 {
            margin-top: 50px;
        }
    }
    .contact--right--location, .contact--right--email {
        margin-bottom: 10px;
    }

    .contact--right--connect {
        margin-top: 190px;
        display: block;
    }

    .fa-map-o, .fa-envelope {
        color: $octagonOrange;
        margin-right: 10px;
    }
}

.social {
    margin-top: 10px;
    :not(:last-child) {
        margin-right:20px;
    }
}

.icon__wrapper {
    
    justify-content: center;
    align-items: center;
    i {
        font-size: 40px;
        color: $octagonOrange;
        transition: all .2s ease-in-out;
        &:hover {
            color: $formColour;
        }
    }
    
}

.contact--left {
    button {
        // background: #48F2D3;
        border: 2px solid $formColour;
        text-transform: uppercase;
        padding: 10px 40px;
        margin: 10px auto 50px auto;
        width: auto;
        font-family: $primaryFont;
        transition: all .2s ease-in-out;
        &:hover {
            background: $formColour;
        }
    }
}

.credit {
    position: absolute;
    bottom: -75px;
    left: 50%;
    transform: translateX(-50%);
}