// WRAPPERS ==========================

.contentWrapper {
    max-width: 1000px;
    background: lightcoral;
    margin: 0 auto;
}

.navWrapper {
    max-width: 1200px;
    background: lightblue;
    margin: 0 auto;
}

//VISUALLY HIDDEN FOR ACCESSIBILITY ==========

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

//GLOBAL CLASSES =====================

.flex {
    display: flex;
}

// COLOURS ===========================


// FONTS ============================= 

$primaryFont: 'Muli', sans-serif;
$secondaryFont: 'Playfair Display', serif;


li {
    list-style-type: none;
}

a {
        text-decoration: none;
}