.aside {
    height: 100vh;
    border: 1px solid red;
    width: 90px;
    display: flex;
    justify-content: center;
    position: fixed;

}

.header--top {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: grey;
    z-index: 1;
    img {
        margin-left: 90px;
    }
}

.topNav {
    display: flex;
    font-family: $secondaryFont;
    text-transform: uppercase;
    //could do space-between for logo and nav?
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        li {
            margin-top: 35.5px;
            margin-bottom: 35.5px;
            a {
                color: #26354F;
            }
        }
        li:last-child {
            margin-right: 90px;
        }
        li:not(:last-child) {
            margin-right: 16px;
        }
    }
}


.leftNav {
    border: 1px solid red;
    display: flex;
    align-items: flex-end;
    ul {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        li {
            border: 1px solid red;
            align-self: flex-end;
            margin-bottom: 20px;
            font-size: 30px;
            a {
                color: #26354F;
            }
        }
        li:last-child {
            margin-bottom: 90px;
        }
    }
}

.downArrow {
    width: 50px;
}

.header {
    padding: 1px;
    // height: calc(100vh - 180px);
    position: relative;
    
    
}

.header--inner {
    width: calc(100% - 180px);
    margin: 90px auto;
    height: calc(100vh - 180px);
    display: flex;
    font-family: $secondaryFont;
    .header--left {
        border: 1px solid yellow;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3 {
            padding-right: 80px;
        }
    }
    .header--right {
        background: #66DDBB;
        width: 50%;
        position: relative;
    }
}

.email {
    background: #26354F;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: absolute;
    // bottom: 20px;
    // right: -30px;
    position: fixed;
    bottom: 100px;
    right: 65px;
    i {
        color: white;
        font-size: 24px;
    }
}

.belowFold {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}