.aside {
    height: 100vh;
    border: 1px solid red;
    width: 90px;
    display: flex;
    justify-content: center;
    position: fixed;

}

.header--top {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    position: fixed;
    width: 100%;
    background: grey;
    img {
        margin-left: 90px;
    }
}

.topNav {
    border: 1px solid red;
    display: flex;
    //could do space-between for logo and nav?
    ul {
        padding: 0;
        margin: 0;
        border: 1px solid red;
        display: flex;
        align-items: center;
        li {
            margin-top: 31px;
            margin-bottom: 31px;
        }
        li:last-child {
            margin-right: 90px;
        }
        li:not(:last-child) {
            margin-right: 16px;
        }
    }
}


.leftNav {
    border: 1px solid red;
    display: inline-block;
    ul {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        li {
            border: 1px solid red;
            align-self: flex-end;
        }
    }
}

.downArrow {
    width: 50px;
}

.header {
    border: 1px solid red;
    padding: 1px;
    
}

.header--inner {
    width: calc(100% - 180px);
    margin: 90px auto;
    border: 1px solid blueviolet;
    height: calc(100vh - 180px);
    display: flex;
    .header--left {
        border: 1px solid yellow;
        width: 50%;
        h1 {
            margin-top: 300px;
        }
    }
    .header--right {
        border: 1px solid pink;
    }
}

.email {
    background: #26354F;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        color: white;
    }
}