@media (max-width: 900px) {
    .about img {
        max-width: 75%;
    }
    .about--inner .about--right {
        padding-right: 40px;
    }
    .portfolio__container {
        flex-direction: column;
        .portfolio--image, .portfolio--description {
            width: 100%;
        }
        &:nth-child(2) .portfolio--description, .portfolio--description {
            ul {
                justify-content: space-between;
            }
            h3, p {
                text-align: left;
            }
        }
        .porfolio--image {
            order: 1;
        }
        .portfolio--description {
            order: 2;
        }        
    }
    .portfolio__container:nth-child(2) .portfolio--description h3::before {
            left: 0;
    }
}

@media (max-width: 768px) {
    .aside {
        display: none;
    }
    .topNav ul li:last-child {
        margin-right: 20px;
    }
    .header--right {
        display: none;
    }
    .header--inner .header--left {
        width: 100%;
    }
    .header--inner {
        width: calc(100% - 100px);
        margin: 90px auto 50px auto;
    }
    .about--inner {
        flex-direction: column;
        margin: 0 50px;
        .about--right, .about--left {
            width: 100%;
        }
    }
    .about--inner .about--right {
        padding-right: 0;
        .about--wrapper {
            margin: 0 50px;
        }
        h3 {
            margin-top: 0;
        }
        p {
            margin-bottom: 50px;
        }
    }
    .about img {
        margin: 50px auto;
    }
    .portfolio__container:nth-child(2) .portfolio--image {
        margin-left: 0;
    }
    .portfolio__container:nth-child(2) .portfolio--description ul, .portfolio__container .portfolio--description ul {
        justify-content: flex-start;
    }
    .skills__list .skills__tool {
        width: 33%;
    }
    .contact {
        margin: 50px 50px 90px 50px;
        flex-direction: column;
        .contact--left, .contact--right {
            width: 100%;
        }
        .contact--right h3 {
            margin-top: 25px;
            text-align: center;
        }
        .contact--left button {
            margin: 10px auto 25px auto;
        }
        .contact--right--connect {
            margin: 50px;
        }
    }
    .skills {
        margin: 50px 50px 0 50px;
    }
    .portfolio {
        margin: 50px 50px 0 50px;
    }
}

@media (max-width: 480px) {
    // .mobileNav {
    //     display: none;
    // }
    .hamburgerMenu {
        display: block;
        position: absolute;
        right: 40px;
        top: 20px;
        z-index: 2;
    }
    
    
    .topNav {
        display: none;
    }

    #toggle:checked ~ .mobileNav {
    // input[type=checkbox]:checked + label {
    // input#toggle:checked {
        
            display: block;            
            position: absolute;
            padding: 10px 0 0 0;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            width: 100%;
            text-align: center;
            background: white;
            text-transform: uppercase;
            font-family: $primaryFont;
            li {
            margin-bottom: 14px;
            position: relative;
                a {
                    color: $fontColour;
                    transition: all 1s ease-in-out;
                    &:hover {
                        color: $formColour;
                    }
                }
            }        
    }
    
}


