.portfolio {
    // border: 1px solid blue;
    margin: 90px 90px 0 90px;
    background: $portfolioSection;
}

.portfolio__container {
    // border: 1px solid pink;
    display: flex;
}

.portfolio--description, .portfolio--image {
    width: 50%;
}