.portfolio {
    // border: 1px solid blue;
    margin: 90px 90px 0 90px;
    background: $portfolioSection;
    padding: 50px;
    
}

.portfolio__container {
    // border: 1px solid pink;
    display: flex;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    h3 {
        font-family: $primaryFont;
        color: $fontColour;
        font-size: 24px;
        position: relative;
        &::before {
            content: '';
            background: $formColour;
            height: 2px;
            width: 60px;
            position: absolute;
            bottom: 0;
        }
    }
}

.portfolio--description, .portfolio--image {
    width: 50%;
}