.contentWrapper {
  max-width: 1000px;
  background: lightcoral;
  margin: 0 auto; }

.navWrapper {
  max-width: 1200px;
  background: lightblue;
  margin: 0 auto; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

li {
  list-style-type: none; }
  li a {
    text-decoration: none; }

.aside {
  height: 100vh;
  background: yellow;
  width: 100px; }

.leftNav {
  background: lightcoral;
  display: inline-block; }

.downArrow {
  width: 50px; }

h1 {
  color: darkcyan; }
