.contentWrapper {
  max-width: 1000px;
  background: lightcoral;
  margin: 0 auto; }

.navWrapper {
  max-width: 1200px;
  background: lightblue;
  margin: 0 auto; }

li {
  list-style-type: none; }
  li a {
    text-decoration: none; }

.aside {
  height: 100vh;
  background: yellow;
  width: 100px; }

.leftNav {
  background: lightcoral;
  display: inline-block; }

.downArrow {
  width: 50px; }

h1 {
  color: darkcyan; }
