article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.contentWrapper {
  max-width: 1000px;
  background: lightcoral;
  margin: 0 auto; }

.navWrapper {
  max-width: 1200px;
  background: lightblue;
  margin: 0 auto; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content__wrapper {
  margin: 0 auto; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.aside {
  height: calc(100vh - 90px);
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed; }
  .aside h2 {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    position: absolute;
    top: 30%;
    font-family: "Muli", sans-serif;
    color: #a8a8a8;
    font-size: 20px; }

.header--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
  top: 0; }
  .header--top img {
    margin: 10px;
    z-index: 2; }
  .header--top .logo {
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.mobileNav {
  display: none; }

.menuToggle {
  display: block;
  position: relative;
  top: 25px;
  right: 25px;
  z-index: 1; }

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2; }

.menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%; }

.menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%; }

.menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px); }

.mobileNav {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

.menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none; }

.topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Muli", sans-serif;
  text-transform: uppercase; }
  .topNav ul {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .topNav ul li {
      margin-top: 35.5px;
      margin-bottom: 35.5px;
      position: relative; }
      .topNav ul li a {
        color: #5b5b5b;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        .topNav ul li a:hover::before {
          content: '';
          height: 2px;
          width: 100%;
          bottom: -2px;
          background: #8affe1;
          position: absolute; }
    .topNav ul li:last-child {
      margin-right: 90px; }
    .topNav ul li:not(:last-child) {
      margin-right: 16px; }

.leftNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .leftNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0; }
    .leftNav ul li {
      -ms-flex-item-align: end;
          align-self: flex-end;
      margin-bottom: 20px;
      font-size: 30px; }
      .leftNav ul li a {
        color: #5b5b5b;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .leftNav ul li a:hover {
          color: #8affe1; }
    .leftNav ul li:last-child {
      margin-bottom: 90px; }

.downArrow {
  width: 50px; }

.header {
  height: calc(100vh - 90px);
  position: relative; }

.header--inner {
  width: calc(100% - 180px);
  margin: 90px auto;
  height: calc(100vh - 180px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Muli", sans-serif; }
  .header--inner .header--left {
    background: url("../../assets/header_left.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header--inner .header--left h1 {
      position: relative; }
    .header--inner .header--left h1::before {
      content: '';
      background: #8affe1;
      height: 2px;
      width: 100%;
      bottom: -10px;
      position: absolute; }
  .header--inner .header--right {
    background: url("../../assets/header_right.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    position: relative; }

.email {
  background: #5b5b5b;
  border-radius: 50%;
  z-index: 2;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: 100px;
  right: 65px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .email:hover {
    background: #8affe1; }
  .email i {
    color: white;
    font-size: 24px; }

.belowFold {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0; }

.about img {
  max-width: 50%;
  display: block;
  margin: 20px auto;
  border: 2px solid white; }

.about--inner {
  margin: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #dbfaff; }
  .about--inner .about--left, .about--inner .about--right {
    width: 50%; }
  .about--inner .about--right {
    padding-right: 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .about--inner .about--right h3 {
      margin-top: 100px;
      font-family: "Muli", sans-serif;
      color: #5b5b5b; }
    .about--inner .about--right p {
      margin-bottom: 100px;
      font-family: "Playfair Display", serif;
      font-size: 14px;
      line-height: 2; }
    .about--inner .about--right .about--wrapper {
      margin: 0 auto; }
  .about--inner .about--left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.portfolio {
  margin: 90px 90px 0 90px;
  background: #d3ffee;
  padding: 50px; }

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .portfolio__container:not(:last-child) {
    margin-bottom: 30px; }
  .portfolio__container h3 {
    font-family: "Muli", sans-serif;
    color: #5b5b5b;
    font-size: 24px;
    position: relative;
    margin-top: 0; }
    .portfolio__container h3::before {
      content: '';
      background: #48F2D3;
      height: 2px;
      width: 60px;
      position: absolute;
      bottom: -5px; }
  .portfolio__container a {
    text-transform: uppercase;
    font-family: "Muli", sans-serif;
    border: 2px solid #48F2D3;
    padding: 5px;
    color: black; }
  .portfolio__container .portfolio--description {
    margin-left: 20px; }
    .portfolio__container .portfolio--description ul {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      font-family: "Muli", sans-serif; }
      .portfolio__container .portfolio--description ul li {
        margin: 10px 20px 10px 0;
        background: rgba(72, 242, 211, 0.3);
        padding: 5px; }
    .portfolio__container .portfolio--description p {
      font-family: "Playfair Display", serif; }
  .portfolio__container .portfolio--image {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .portfolio__container:nth-child(2) .portfolio--description {
    text-align: right;
    margin-right: 20px; }
    .portfolio__container:nth-child(2) .portfolio--description h3::before {
      right: 0; }
    .portfolio__container:nth-child(2) .portfolio--description ul {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .portfolio__container:nth-child(2) .portfolio--description ul li:last-child {
        margin-right: 0; }
  .portfolio__container:nth-child(2) .portfolio--image {
    margin-left: 20px; }

.portfolio--description, .portfolio--image {
  width: 50%; }

.skills {
  margin: 90px 90px 0 90px;
  padding: 50px 50px 0 50px;
  background: #fff9db; }
  .skills h3 {
    font-size: 30px;
    text-align: center;
    font-family: "Muli", sans-serif;
    color: #5b5b5b;
    margin-top: 0; }
  .skills ul {
    padding: 0; }

.skills__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .skills__list .skills__tool {
    width: 25%; }
    .skills__list .skills__tool img {
      margin: 0 auto;
      display: block;
      width: 60px; }
    .skills__list .skills__tool p {
      text-align: center;
      font-family: "Playfair Display", serif;
      margin-bottom: 50px; }

.contact {
  margin: 90px;
  position: relative;
  z-index: 0;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contact input, .contact button, .contact textarea {
    border: none;
    border-bottom: 2px solid #48F2D3;
    background: #dbfaff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Playfair Display", serif; }
  .contact input, .contact textarea {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    padding-left: 4px; }
  .contact input::-webkit-input-placeholder, .contact textarea::-webkit-input-placeholder:focus {
    color: fontColour;
    font-family: "Playfair Display", serif; }
  .contact input:-ms-input-placeholder, .contact textarea:-ms-input-placeholder:focus {
    color: fontColour;
    font-family: "Playfair Display", serif; }
  .contact input::-ms-input-placeholder, .contact textarea::-ms-input-placeholder:focus {
    color: fontColour;
    font-family: "Playfair Display", serif; }
  .contact input::placeholder, .contact textarea::placeholder:focus {
    color: fontColour;
    font-family: "Playfair Display", serif; }
  .contact input:focus:placeholder-shown, .contact textarea:focus:placeholder-shown {
    outline: none;
    border: 2px solid #48F2D3; }
  .contact h3 {
    color: #5b5b5b;
    font-family: "Muli", sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 50px; }
  .contact .contact--left {
    width: 55%;
    margin: 0 auto;
    background: #dbfaff; }
  .contact .contact__wrapper {
    margin: 0 auto; }
  .contact .contact--right {
    width: 45%;
    background: #d3ffee;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contact .contact--right p {
      display: inline;
      font-family: "Playfair Display", serif; }
    .contact .contact--right h3 {
      margin-top: 50px; }
  .contact .contact--right--location, .contact .contact--right--email {
    margin-bottom: 10px; }
  .contact .contact--right--connect {
    margin-top: 190px;
    display: block; }
  .contact .fa-map-o, .contact .fa-envelope {
    color: #ffae77;
    margin-right: 10px; }

.social {
  margin-top: 10px; }
  .social :not(:last-child) {
    margin-right: 20px; }

.icon__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .icon__wrapper i {
    font-size: 40px;
    color: #ffae77;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .icon__wrapper i:hover {
      color: #48F2D3; }

.contact--left button {
  border: 2px solid #48F2D3;
  text-transform: uppercase;
  padding: 10px 40px;
  margin: 10px auto 50px auto;
  width: auto;
  font-family: "Muli", sans-serif;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .contact--left button:hover {
    background: #48F2D3; }

.credit {
  position: absolute;
  bottom: -75px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

@media (max-width: 900px) {
  .about img {
    max-width: 75%; }
  .about--inner .about--right {
    padding-right: 40px; }
  .portfolio__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .portfolio__container .portfolio--image, .portfolio__container .portfolio--description {
      width: 100%; }
    .portfolio__container:nth-child(2) .portfolio--description ul, .portfolio__container .portfolio--description ul {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .portfolio__container:nth-child(2) .portfolio--description h3, .portfolio__container:nth-child(2) .portfolio--description p, .portfolio__container .portfolio--description h3, .portfolio__container .portfolio--description p {
      text-align: left; }
    .portfolio__container .porfolio--image {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .portfolio__container .portfolio--description {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
  .portfolio__container:nth-child(2) .portfolio--description h3::before {
    left: 0; } }

@media (max-width: 768px) {
  .aside {
    display: none; }
  .topNav ul li:last-child {
    margin-right: 20px; }
  .header--right {
    display: none; }
  .header--inner .header--left {
    width: 100%; }
  .header--inner {
    width: calc(100% - 100px);
    margin: 90px auto 50px auto; }
  .about--inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 50px; }
    .about--inner .about--right, .about--inner .about--left {
      width: 100%; }
  .about--inner .about--right {
    padding-right: 0; }
    .about--inner .about--right .about--wrapper {
      margin: 0 50px; }
    .about--inner .about--right h3 {
      margin-top: 0; }
    .about--inner .about--right p {
      margin-bottom: 50px; }
  .about img {
    margin: 50px auto; }
  .portfolio__container:nth-child(2) .portfolio--image {
    margin-left: 0; }
  .portfolio__container:nth-child(2) .portfolio--description ul, .portfolio__container .portfolio--description ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .skills__list .skills__tool {
    width: 33%; }
  .contact {
    margin: 50px 50px 90px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact .contact--left, .contact .contact--right {
      width: 100%; }
    .contact .contact--right h3 {
      margin-top: 25px;
      text-align: center; }
    .contact .contact--left button {
      margin: 10px auto 25px auto; }
    .contact .contact--right--connect {
      margin: 50px; }
  .skills {
    margin: 50px 50px 0 50px; }
  .portfolio {
    margin: 50px 50px 0 50px; } }

@media (max-width: 480px) {
  .header--inner {
    width: calc(100% - 20px);
    margin: 0 auto 50px auto; }
  .hamburgerMenu {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2; }
  .header {
    height: auto; }
  .topNav {
    display: none; }
  #toggle:checked ~ .mobileNav {
    display: block;
    position: absolute;
    padding: 10px 0 0 0;
    margin: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
    width: 100%;
    text-align: center;
    background: white;
    text-transform: uppercase;
    font-family: "Muli", sans-serif; }
    #toggle:checked ~ .mobileNav li {
      margin-bottom: 14px;
      position: relative; }
      #toggle:checked ~ .mobileNav li a {
        color: #5b5b5b;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        #toggle:checked ~ .mobileNav li a:hover {
          color: #48F2D3; }
  .about--inner {
    margin: 0 10px; }
  .portfolio {
    margin: 50px 10px 0 10px;
    padding: 50px 10px 50px 10px; }
  .portfolio__container .portfolio--description {
    padding-right: 30px;
    font-size: 14px; }
  .portfolio__container:nth-child(2) .portfolio--description {
    text-align: left; }
  .portfolio__container a {
    display: inline-block;
    margin-bottom: 10px; }
  .skills {
    margin: 50px 10px 0 10px;
    padding: 50px 10px 0 10px; }
  .skills__list .skills__tool {
    width: 50%; }
  .contact {
    margin: 50px 10px 80px 10px; }
  .credit {
    bottom: -80px; } }

@media (max-width: 320px) {
  .about--inner .about--right .about--wrapper {
    margin: 0 20px; }
  .contact .contact__wrapper {
    margin: 0 auto;
    padding: 0 20px; }
  .header .content__wrapper {
    padding: 0 40px; }
  .contact .contact--right--connect {
    margin: 50px 40px; }
  .credit {
    bottom: -100px; } }
